python-dotenv
pyarrow
schedule
dictdiffer
gridstatusio
git+https://github.com/tdorssers/TeslaPy.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
googlemaps
dash_bootstrap_components
dash
